############################################################
# VIRUTAL VFO GROUP CONFIGURATION
############################################################

############################################################
# GROUP CHANNELS
############################################################

# Previously monitored frequencies
#
# 7046   7046000  LSB
# 7047   7047170  LSB
# 7098   7098000  LSB
# 14103 14103000 USB
# 14105 14105000 USB
#
# Only 7048 and 10147 have shown consistent activity.
#
RADIO_CHANNELS=(
    "7048 7048600 lsb"
    "10147 10147600 usb"
)

############################################################
# KA9Q VFO STREAMER SETTINGS
############################################################

BASE_SSRC=9999991
BASE_PORT=4591

HOST="hf.local"
RATE=12000
