############################################################
# VIRUTAL VFO GROUP CONFIGURATION
############################################################

############################################################
# GROUP CHANNELS
############################################################

RADIO_CHANNELS=(
    "3595 3595000 usb"
    "7105 7105000 usb"
    "10133 10133000 usb"
    "14105 14105000 usb"
)

############################################################
# KA9Q VFO STREAMER SETTINGS
############################################################

BASE_SSRC=9999800
BASE_PORT=4800

HOST="hf.local"
RATE=12000